@import "tailwindcss";


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  .hideScrollbar::-webkit-scrollbar {
      display: none;
    }
    
    .hideScrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none;    
    }